* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.background {
    background-color: #08061d;
    height: 100vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.display {
    color: rgb(148, 21, 106);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 300px;

}

.tile {
    border: 2px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #05af65;
}

.playerO {
    color: #357af0;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 120px;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #197bcc;
}